---
- hosts: all
  vars:
    http_host: 'veljko.nz'
    http_conf: 'ansible'
    http_port: '80'
    mysql_root_password: mysqlpass
    mysql_db: ansibledb
    mysql_user: ansibleuser
    mysql_password: mysqlpass

  tasks:
  - name: Update the system
    apt:
      update_cache: true
      state: latest

  - name: Install dependencies
    apt: name={{item}} state=latest
    loop: [ apache2, mysql-server, php, libapache2-mod-php, php-mysql, python3-pymysql ]

  # - name: Install MYSQL-python
  #   pip:
  #     name: PyMySQL

  # apache setup
  - name: Create root folder
    file:
      path: /var/www/{{http_host}}
      state: directory
      owner: www-data
      group: www-data
      mode: 0755

  - name: Set up virtual host
    template:
      src: files/apache.conf.j2
      dest: /etc/apache2/sites-available/{{http_conf}}.conf
    notify: reload apache

  - name: Enable rewrite module
    shell: /usr/sbin/a2enmod rewrite
    notify: reload apache

  - name: Enable the website
    shell: /usr/sbin/a2ensite {{http_conf}}.conf
    notify: reload apache

  - name: Disable default website
    shell: /usr/sbin/a2dissite 000-default.conf
    notify: restart apache

  # mysql setup
  - name: Set mysql root password
    mysql_user:
      login_password: ''
      name: root
      password: '{{mysql_root_password}}'
      login_user: root
      login_host: localhost
      state: present

  - name: Create database
    mysql_db:
      name: '{{mysql_db}}'
      login_user: root
      login_password: '{{mysql_root_password}}'
      login_unix_socket: /var/lib/mysql/mysql.sock
      state: present

  - name: Create mysql user
    mysql_user:
      name: '{{mysql_user}}'
      password: '{{mysql_password}}'
      priv: '{{mysql_db}}.*.ALL'
      login_user: root
      login_password: '{{mysql_root_password}}'
      state: present

  # wordpress setup
  - name: Download wordpress
    unarchive:
      src: https://wordpress.org/latest.tar.gz
      dest: /var/www/{{http_host}}
      remote_src: yes
      creates: /var/www/{{http_host}}/wordpress

  - name: Set ownership
    file:
      path: /var/www/{{ http_host }}
      state: directory
      recurse: yes
      owner: www-data
      group: www-data

  - name: Set permissions for directories
    shell: "/usr/bin/find /var/www/{{ http_host }}/wordpress/ -type d -exec chmod 750 {} \\;"

  - name: Set permissions for files
    shell: "/usr/bin/find /var/www/{{ http_host }}/wordpress/ -type f -exec chmod 640 {} \\;"

  - name: Set up wp-config
    template:
      src: "files/wp-config.php.j2"
      dest: "/var/www/{{ http_host }}/wordpress/wp-config.php"

  handlers:
    - name: reload apache
      service:
        name: apache2
        state: reloaded

    - name: restart apache
      service:
        name: apache2
        state: restarted
