---
- hosts: all
  vars_prompt:
    - name: http_host
      private: false
      prompt: Enter domain

    - name: http_conf
      private: false
      prompt: Enter apache config name

    - name: http_port
      private: false
      prompt: Enter port

    - name: mysql_root_password
      prompt: Enter mysql root password

    - name: mysql_db
      private: false
      prompt: Enter mysql database name

    - name: mysql_user
      private: false
      prompt: Enter mysql username

    - name: mysql_password
      prompt: Enter mysql password

  tasks:
  - name: Update the system
    apt:
      update_cache: true
      state: latest

  - name: Install dependencies
    apt: name={{item}} state=latest
    loop: [ apache2, mysql-server, php, libapache2-mod-php, php-mysql, python3-pymysql ]
    
  # apache setup
  - name: Create root folder
    file:
      path: /var/www/{{http_host}}
      state: directory
      owner: www-data
      group: www-data
      mode: 0755

  - name: Set up virtual host
    template:
      src: files/apache.conf.j2
      dest: /etc/apache2/sites-available/{{http_conf}}.conf
    notify: reload apache

  - name: Enable rewrite module
    shell: /usr/sbin/a2enmod rewrite
    notify: reload apache

  - name: Enable the website
    shell: /usr/sbin/a2ensite {{http_conf}}.conf
    notify: reload apache

  - name: Disable default website
    shell: /usr/sbin/a2dissite 000-default.conf
    notify: restart apache

  # mysql setup
  - name: Set root password
    mysql_user:
      name: root
      password: '{{mysql_root_password}}'
      login_unix_socket: /var/run/mysqld/mysqld.sock

  - name: Create database
    mysql_db:
      name: '{{mysql_db}}'
      state: present
      login_user: root
      login_password: '{{mysql_root_password}}'

  - name: Create mysql user
    mysql_user:
      name: '{{mysql_user}}'
      password: '{{mysql_password}}'
      priv: '{{mysql_db}}.*.ALL'
      state: present
      login_user: root
      login_password: '{{mysql_root_password}}'

  # wordpress setup
  - name: Download wordpress
    unarchive:
      src: https://wordpress.org/latest.tar.gz
      dest: /var/www/{{http_host}}
      remote_src: yes
      creates: /var/www/{{http_host}}/wordpress

  - name: Set ownership
    file:
      path: /var/www/{{ http_host }}
      state: directory
      recurse: yes
      owner: www-data
      group: www-data

  - name: Set permissions for directories
    shell: "/usr/bin/find /var/www/{{ http_host }}/wordpress/ -type d -exec chmod 750 {} \\;"

  - name: Set permissions for files
    shell: "/usr/bin/find /var/www/{{ http_host }}/wordpress/ -type f -exec chmod 640 {} \\;"

  - name: Set up wp-config
    template:
      src: "files/wp-config.php.j2"
      dest: "/var/www/{{ http_host }}/wordpress/wp-config.php"

  handlers:
    - name: reload apache
      service:
        name: apache2
        state: reloaded

    - name: restart apache
      service:
        name: apache2
        state: restarted
